*{
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;
}

#add:hover{
    background-color: brown;

}

#clear:hover{
    background-color: brown;
}
.btn:hover{
    background-color: brown;
}

#title:hover{
    border-color:  brown;
}

#description:hover{
    border-color: brown;
}